---
---

@import "type-on-strap";

{% assign syntax = site.data.syntax %}

/* Override syntax-highlight palette via _data/syntax.yml */
html, html[data-theme="light"] {
  --base00: {{ syntax.light.base00 }};
  --base01: {{ syntax.light.base01 }};
  --base02: {{ syntax.light.base02 }};
  --base03: {{ syntax.light.base03 }};
  --base04: {{ syntax.light.base04 }};
  --base05: {{ syntax.light.base05 }};
  --base06: {{ syntax.light.base06 }};
  --base07: {{ syntax.light.base07 }};
  --base08: {{ syntax.light.base08 }};
  --base09: {{ syntax.light.base09 }};
  --base0a: {{ syntax.light.base0a }};
  --base0b: {{ syntax.light.base0b }};
  --base0c: {{ syntax.light.base0c }};
  --base0d: {{ syntax.light.base0d }};
  --base0e: {{ syntax.light.base0e }};
  --base0f: {{ syntax.light.base0f }};
}

html[data-theme="dark"] {
  --base00: {{ syntax.dark.base00 }};
  --base01: {{ syntax.dark.base01 }};
  --base02: {{ syntax.dark.base02 }};
  --base03: {{ syntax.dark.base03 }};
  --base04: {{ syntax.dark.base04 }};
  --base05: {{ syntax.dark.base05 }};
  --base06: {{ syntax.dark.base06 }};
  --base07: {{ syntax.dark.base07 }};
  --base08: {{ syntax.dark.base08 }};
  --base09: {{ syntax.dark.base09 }};
  --base0a: {{ syntax.dark.base0a }};
  --base0b: {{ syntax.dark.base0b }};
  --base0c: {{ syntax.dark.base0c }};
  --base0d: {{ syntax.dark.base0d }};
  --base0e: {{ syntax.dark.base0e }};
  --base0f: {{ syntax.dark.base0f }};
}
